# idea
**/out
**/*.ipr
**/*.iws
**/*.iml
**/.idea
**/.editorconfig


#Gradle stuffs
**/.gradle
**/build/
**/gradle-app.setting
!**/gradle-wrapper.jar
**/.gradletasknamecache

**/.DS_Store
app/test

**/logs
**/config
