*{
    -fx-font-family:monospace;
    -fx-text-fill:#ccc;
    -back:#222;
    -active:#444;
    -cell-back:#5b5454;
    -border-cell:#aaa;
    -border:#7a7a7a;
}

.l-r-padding{
	-fx-padding: 0 10px 0 10px;
}
.all-padding{
	-fx-padding:10px 15px 10px 15px;
}
.root, .stack-pane, .viewport{
    -fx-background-color: -back;
}

.header{
    -fx-min-height:30px;
    -fx-font-size:24pt;
    -fx-text-alignment: center;
}
.app-back{
    -fx-background-color:-back;
}
.base{
    -fx-padding:5,10,5,10;
}
.root{
	-fx-padding:0;
	-fx-background-insets:0;
	-fx-border-insets:0;
	-fx-border-width:0;
}

.scroll-bar {
    -fx-background-color:#666;
    -fx-text-fill:#555;
}
.thumb{
    -fx-background-color:#222;
    -fx-text-fill:#222;
}

.button{
    -fx-background-color:#2b2b2b;
    -fx-border-color:-border;
    -fx-border-radius:2em;
    -fx-background-radius:2em;
    -fx-min-width:10em;
}
.button:armed{
    -fx-border-color:#aaa;
    -fx-border-width:1px;
    -fx-background-color:#353535;
}
.menu-bar, .context-menu, .text-area .content{
	-fx-background-color:-back;
	-fx-border-color:rgba(0,0,0,0) rgba(0,0,0,0) -border rgba(0,0,0,0);
}

.text-field, .text-box{
	-fx-background-color:-back;
	-fx-border-color: -border;
}

.menu-bar{
	-fx-background-insets:0px;
	-fx-padding:0px;
}

.menu{
	-fx-height:12px;
	-fx-border-color:#666;
	-fx-border-width: 0px 1px 1px 0px;
	-fx-border-style:solid outside;
}

.scroll-pane{
	-fx-background-color:transparent;
}
